body {
  background-color: #F5F7FB;
  margin: 0;
  padding: 0px;
}

button {
  border: none;
  padding: 5px;
  border-radius: 5px;
}

.listItem {
  width: calc(100% - 100px);
  height: 50px;
  border-bottom: 1px solid #000000;
  padding: 10px;
  height: fit-content;
}


.listItem:hover {
  background-color: #e7e9ed;
}


ul {
  list-style-type: none;
}

.listBtnHolder {
  position: absolute;
  right: 10%;
}

.listButton {
  margin-top: -10px;
  margin-right: 10px;
  background-color: inherit;
}

.listTimeStamp {
  color: #969696;
  font-size: 12px;
  margin-left: 10px;
}

.noteList {
  list-style-type: none;
}

.editInput {
  width: 500px;
}

.error {
  color: red;
}

.yellowBlob {
  position: absolute;
  top: 0;
  right: 0;
}

.blueBlob {
  position: absolute;
  bottom: 0;
  left: 0;
}

.primaryBtn,
.primaryBtn:active,
.primaryBtn:focus {
  background-color: #5a6ab9;
  border: none;
}

.primaryBtn:hover {
  background-color: #3a4478;


}

.addNoteBtn {
  width: 100px;
  height: 50px;
  text-align: center;
}

.noNotes {
  margin: auto;
  width: 50%;
  text-align: center;
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

input,
.textarea {
  padding: 5px 10px;
  margin: 8px 0 10px 10px;
  box-sizing: border-box;
  border: 1.25px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  transition: 0.5s;
  outline: none;
}

input:focus,
.textarea:focus {
  border: 1.25px solid #7f7f7f;
}

.textarea {
  min-height: 77px;
  max-height: 182px;
  width: 300px;
  margin-left: 45px;
}

.loginForm {
  width: 300px;
  margin: auto;
}

.loginFormHeader {
  color: #3a4478;
  text-align: center;
}

.loginFormFields {
  background-color: #ecefff;
  border: 1px solid #e9ecff;
  width: 300px;
  padding: 10px;
  border-radius: 5px;
}

.forgetPassword {
  margin-left: 60px;
}

.username,
.password,
.email {
  width: 260px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #424242;
  border-radius: 0px;
}

.username:focus,
.username:active,
.password:focus,
.password:active,
.email:focus,
.email:active {
  width: 260px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  border-radius: 0px;
}

.submitBtn {
  width: 270px;
}

.link,
.link:hover {
  color: #0d6efd;
  text-decoration: underline;
  cursor: pointer;
}

.not-required {
  color: gray;
  font-size: 10px;
  font-size: italic;
}

.preview-markdown-editor {
  padding: 20px;
  border: 1px solid black;
}


pre {
  background: #efefef;
  border-radius: 5px;
  padding: 20px;
}

ul {
  list-style-type: disc;
}

blockquote {
  border-radius: 5px;
  border-left: 10px solid #efefef;
  padding: 10px 10px 10px 30px;
  /* padding: top right bottom left */

}