body {
  background-color: #F5F7FB;
  margin: 0;
  padding: 10px;
}

button {
  border: none;
  padding: 5px;
  border-radius: 5px;
}

.listItem {
  width: calc(100% - 100px);
  height: 50px;
  border-bottom: 1px solid #000000;
  padding: 10px;
  height: fit-content;
}


.listItem:hover {
  background-color: #e7e9ed;
}


ul {
  list-style-type: none;
}

.listBtnHolder {
  float: right;
}

.listButton {
  margin-top: -10px;
  margin-right: 10px;
  background-color: inherit;
}

.listTimeStamp {
  color: #969696;
  font-size: 12px;
  margin-left: 10px;
}

.editInput {
  width: 500px;
  padding: 5px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1.25px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.editInput:focus {
  border: 1.25px solid #7f7f7f;
}

.error {
  color: red;
}

.yellowBlob {
  position: absolute;
  top: 0;
  right: 0;
}

.blueBlob {
  position: absolute;
  bottom: 0;
  left: 0;
}

.primaryBtn,
.primaryBtn:hover,
.primaryBtn:active,
.primaryBtn:focus {
  background-color: #4D5B9E;
  border: none;
}

.addNoteBtn {
  width: 100px;
  margin: auto;
}

.noNotes {
  margin: auto;
  width: 50%;
  text-align: center;
}